version: '3'

services:

  symfony-app:
    image: erighetto/drupal-dev:latest
    container_name: ${PROJECT_NAME}_php
    ports:
      - "80:80"
    depends_on:
      - mysql-server
    links:
      - mysql-server
      - pma
      - mailhog
    volumes:
      - "./../web:/var/www/html"
    environment:
      WEB_DOCUMENT_ROOT: "/var/www/html/public"
      PHP_IDE_CONFIG: "serverName=localhost"
      POSTFIX_RELAYHOST: "mailhog:1025"


  mysql-server:
    image: mariadb:latest
    container_name: ${PROJECT_NAME}_db
    ports:
      - "3306:3306"
    volumes:
      - "/var/lib/mysql"
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}

  pma:
    image: phpmyadmin/phpmyadmin:latest
    container_name: ${PROJECT_NAME}_pwa
    environment:
      PMA_HOST: mysql-server
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
      PHP_UPLOAD_MAX_FILESIZE: 1G
      PHP_MAX_INPUT_VARS: 1G
    ports:
      - "8080:80"

  mailhog:
    image: mailhog/mailhog:latest
    container_name: ${PROJECT_NAME}_mh
    ports:
      - 8025:8025
      - 1025:1025