version: '2'
services:
  symfony-app:
    image: erighetto/drupal-dev:latest
    ports:
      - "80:80"
    depends_on:
      - mysql-server
    links:
      - mysql-server
      - pma
      - mailhog
    volumes:
      - "./../web:/var/www/html"
    environment:
      WEB_DOCUMENT_ROOT: "/var/www/html/public"
      PHP_IDE_CONFIG: "serverName=localhost"
      POSTFIX_RELAYHOST: "mailhog:1025"


  mysql-server:
    image: mariadb:latest
    ports:
      - "3306:3306"
    volumes:
      - "/var/lib/mysql"
    environment:
      MYSQL_DATABASE: s21e_rest_api
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: symfony_usr
      MYSQL_PASSWORD: symfony_pwd

  pma:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: mysql-server
      PMA_USER: symfony_usr
      PMA_PASSWORD: symfony_pwd
      PHP_UPLOAD_MAX_FILESIZE: 1G
      PHP_MAX_INPUT_VARS: 1G
    ports:
      - "8080:80"

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - 8025:8025
      - 1025:1025